@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.font-jalnan {
  font-family: "JalnanGothic";
}

@layer components {
  .container {
    @apply bg-yellow-50 min-h-screen max-w-screen-md mx-auto px-8 pt-20;
  }

  .btn-style {
    @apply border-2 border-black px-2 rounded-md;
  }
}
